.header{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.cardwrapper{
    margin-top:18px ;
}
.wrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;


}
.toggleText{
 cursor: pointer;
 color: var(--primary-color);
}