:root{
  --primary-color:#34f94b;
  --black-color: #121212;
  --white-color:#fff;
}

*,
*::before,
*::after{
  box-sizing: border-box;
}
*{
  margin:0;
}
html,body{
  height: 100%;
}
body{
  font-family: 'poppins',sans-serif  ;
  background-color: var(--black-color);
  line-height: 1.5;
  color:var(--white-color);
  overflow-x: hidden;
} 